@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Tilt+Neon&display=swap');


body {
    font-family:Golos, sans-serif;
    font-weight:300;
    color:darkblue;
    background-color:darkgrey;
    width:98%;
}

/*heading and logo */

h1 {
    font-family:Tilt Neon, sans-serif;
    letter-spacing:3px;
    color:#ffd700;
    font-weight:600;
    text-decoration:underline;
    text-align:center;
    background-color:lightslategray;
}

h2 {
    font-family:Tilt Neon, sans-serif;
    letter-spacing:3px;
    color:black;
    text-decoration:underline;
    text-align:center;
    float:center;
}

h3 {
    font-family:Tilt Neon, sans-serif;
    letter-spacing:3px;
    color:black;
    text-decoration:underline;
    text-align:center;
    float:center;
}

#logo {
    border:5px solid #ffd700;
    border-width:10px;
    font-size:190%;
    margin-bottom:auto;
    width:auto;   
}

/* navigation links */

#menu {
    font-size:150%;
    letter-spacing:2px;
    color:black;
}

#menu, #logo {
    line-height:65px;
}

#menu li {
    float:right;
    list-style-type:none;
    margin-right:30px;
}

#menu a {
    text-decoration:none;
    color:inherit;
}

#menu a:hover {
    border-bottom:5px solid #ffd700;
}

.active {
    border-bottom:3px solid #ffd700
}

/* images */

#hero-outer{
    height:600px;
    width:100%;
    overflow:hidden;
}

#hero-image{
    height:500px;
    width:100%;
    background-image:url('../images/img_moon.jpeg') ;
    background-repeat:no-repeat;
    background-position:center;
    object-fit:cover;
}



/* text content */

.text {
    padding:10px;
    height:60%;
    width:40%;
    background-color:aliceblue; 
    margin:10px auto 10px auto;
    text-align:center;
    font-size:25px;
    border:5px solid #8a2be2;
}

div ul  {
    padding:10px;
    height:60%;
    width:40%;
    background-color:aliceblue;
    margin:10px auto 10px auto;
    text-align:center;
    font-size:25px;
    border:5px solid #8a2be2;
    list-style-position: inside;
}

div1 ul  {
    padding:10px;
    height:300px;
    width:50%;
    background-color:aliceblue;
    margin:10px auto 10px auto;
    text-align:center;
    font-size:25px;
    border:5px solid #8a2be2;
    list-style-position:inside;
    overflow-y:scroll;
}

.list{
    list-style-type: square;
    margin-left: 15px;
 }

